[2015-10-14 23:22] bmatsuo opened #1 "C functions without bindings"
Unsupported C functions:

- [ ] mdb_env_get_fd&ast;
- [ ] db_env_set_userctx&ast; -- using this would likely introduce garbage collection problems
- [ ] mdb_env_get_userctx&ast; -- using this would likely introduce garbage collection problems
- [ ] mdb_env_set_assert&ast; -- "This hack should become obsolete as lmdb's error handling matures."

- [ ] mdb_set_compare -- if this can be achieved it wi

[2015-10-16 02:46] bmatsuo opened #2 "fewer examples as tests"
Given the fairly complex nature of setting up, populating, and testing a database it seems more appropriate to have one or two executable examples and more examples that are reusable snippets in `example_test.go` simply so that their compilation can be verified.

The following example functions need to be evaluated and have any necessary tests and code examples added before being removed.

- [x] ~

[2015-10-19 07:19] bmatsuo opened #4 "lmdbscan: Scanner needs to expose the cursor somehow"
Having the `Del` method on the scanner itself seems odd. And there may be a desire to call other things like `Count` (or `Put`). There are a couple ways the cursor could be exposed.

1. Change the Scanner constructor to take a Cursor instead of a DBI. This would make the Scanner API as simple as possible but it complicates Cursor construction.

2. Add the constructor above along side the existing

[2015-10-19 09:14] bmatsuo opened #7 "lmdbsync: Remove exp/cmd/lmdb_example_resize"
The command is basically a test meant to be run in parallel in background processes of a shell or in a multiplexer. The example should be pared down as much as possible, rerooted under exp/lmdbsync, and run by `go test` for that package (it must run as two forked processes because only one open map of an environment can exist in a process).

[2015-10-19 09:14] #4 closed

[2015-10-20 05:54] #2 closed

[2015-10-27 07:08] bmatsuo opened #9 "Calling convention does not conform to proposed cgo tool restritions"
Proposal: https://github.com/golang/proposal/blob/master/design/12416-cgo-pointers.md

C functions that take an `MDBval*` are not meeting the restrictions proposed in go#12416. The pointers in the argument's `mv_data` argument is usually a Go pointer. The infractions should be fixed before the implementation is finalized and lands on tip.

[2015-10-27 07:09] #9 closed

[2015-10-27 07:12] bmatsuo opened #10 "lmdb: Calling convention does not conform to proposed cgo tool restritions"
Proposal: https://github.com/golang/proposal/blob/master/design/12416-cgo-pointers.md

C functions that take an `MDB_val*` are not meeting the restrictions proposed in go#12416. The pointer in the arguments' `mv_data` field is usually a Go pointer. The infractions should be fixed when the design is finalized and by the time the implementation lands on "tip".

[2015-10-27 07:18] bmatsuo opened #11 "Support integer flags (MDB_INTEGERKEY/MDB_INTEGERDUP)"
- [ ] **Mock implementation and benchmark**

Test Plan: TBD

- [ ] **API design proposal accepted**

API Design: TBD

[2015-10-27 22:52] bmatsuo commented on #1
Passing a pointer to the `mdb_set_userctx` function violates the cgo tool restrictions mentioned in #10.

This makes use of the function very dubious. Storing a `size_t` integer value as user context does not seem very useful.

[2015-10-29 00:27] bmatsuo commented on #10
I new have two branches for different aspects of this issue.

https://github.com/bmatsuo/lmdb-go/tree/bmatsuo/mdb-val-cgo-pointer-restrictions

https://github.com/bmatsuo/lmdb-go/tree/bmatsuo/reader-list-context-fix

I think those address the only issues in package. I'm tempted to merge the latter in without further confirmation because while the underlying implementation is more complex it does c

[2015-10-29 00:29] bmatsuo commented on #1
I don't plan on implementing `mdb_env_set_assert`. It is a hack. And if it were to be supported there would be implementation issues. I'm just going to wait for further development.

[2015-10-29 00:33] bmatsuo opened #12 "Support for `mdb_set_compare` and `mdb_set_dupsort`."
I think there is potential value here. But there needs to be some research and, in general, the C API needs to change for applications to take full advantage of these functions.

### Background

The LMDB C API lets an application specify custom functions used to sort keys and values in a database. And this feature is not supported in lmdb-go despite potential benefits.

It is common for applicatio

[2015-10-29 01:31] bmatsuo commented on #1
I have opened #12 to track the attempt at supporting `mdb_set_compare` and `mdb_set_dupsort`, at first in a primitive form to be expanded later when support is added to the C API.

[2015-10-29 02:48] bmatsuo commented on #11
Comment imported from my #1 regarding design considerations

[2015-10-30 02:31] bmatsuo commented on #12
What does a comparison function do when assumptions about key structure are not true? A `panic()` cannot be allowed to escape a C callback (undefined behavior?).

- Some logging needs to happen though logs cannot be automatically associated with an env or dbi.
- The data must be sorted somehow in which direction does bad data move? Up or down?

[2015-10-31 03:10] bmatsuo commented on #11
One solution may be to expose an interface and one(?) variant of *.Put that use interface values.

[code]

This can seemingly allow for strings to be written without being converted to `[]byte`, which is not required but is an interesting bonus.

[2015-10-31 21:08] bmatsuo commented on #11
My branch, bmatsuo/value-interfaces experiments with the interface proposed above. However, the results are not encouraging. Writing byte slices containing big-endian encoded uint64 values seems to be as good or better than writing size_t values. Writing unsigned int values was consistently faster, but the difference in performance is close to negligible (< 200ns per Put operation).

The following

[2015-10-31 23:29] bmatsuo commented on #12
Bringing up context values in the LMDB mailing list wasn't very productive. It seems unlikely for a context argument to be added.

Other experimentation in #11 has led me to believe that simple integer based keys like "big-endian 64-bit unsigned integers" are unlikely to be fruitful in terms of performance gains.

One option that does seem plausible (though a burden on the user) is to expose a fai

[2015-10-31 23:33] bmatsuo commented on #12
With the experience I have now I am going to close this issue. I will continue to investigate things in the avenue of my branch, bmatsuo/compare-funcs. Exposing the low-level API may be effective. But I will probably wait at least until when the cgo proposal from #10 takes effect (Go 1.6) and the cgo dynamic check has been implemented.

[2015-10-31 23:33] #12 closed

[2015-11-01 00:03] bmatsuo commented on #1
Re: mdb_set_relfunc/mdb_set_relctx

This feature is not implemented yet in LMDB

It looks like its technically possible to bind the API, though. The ctx function would likely have to be co-opted as is done for mdb_reader_list.

Though I don't have a good understanding of when this would be usable or if Go is usable in such environments. And the feature really shouldn't be implemented until there i

[2015-11-01 03:15] bmatsuo opened #17 "lmdbscan: better ability to handle duplicates in a special way"
Scanning over databases and treating values for duplicate keys specially seems to be fairly cumbersome. It is always possible to iterate strictly using Cursor.Next. But a simple action like collecting all values for duplicate keys and printing them, is not as easy is it potentially could be. This is an example of scanning over a database using the NextNoDup and NextDup flags.

[code]

It should no

[2015-11-01 03:20] bmatsuo commented on #17
I think its possible that a straightforward solution to this problem is to have the Scanner.Set and Scanner.SetNext functions actually call Cursor.Get, setting Scanner.Key, Scanner.Val, and Scanner.Err and buffering the result for the next call to Scanner.Scan.

[code]

I believe that this can also work for scanning DupFixed databases.

[code]

[2015-11-01 03:32] bmatsuo opened #18 "lmdbscan: allow opnext to be set without opset?"
It's unclear if the lmdbscan.Scanner needs an alternative to lmdb.SetNext that sets the "opnext" operation without first setting the "opset" operation.

This relates to #17.

[2015-11-02 02:32] bmatsuo commented on #18
One thing that is a little cumbersome to do currently is count the number of value for each key in a DupSort database.

[code]

[2015-11-02 02:56] bmatsuo opened #20 "lmdb: failure to defer leads to resource leaks"
There is some possibility of memory leaks in the lmdb package because garbage collection will not collect allocations performed by C. The package must go through an audit of the core types so that potential leaks may be found. Finalizers should be added and `benchcmp` run in to determine the runtime cost.

If it is determined that a type should not have a finalizer for the sake of performance it m

[2015-11-02 04:04] bmatsuo opened #21 "lmdbscan: Scanner.Scan panics if lmdbscan.New() failed."
If `lmdbscan.New()` fails then the error will be wiped out when the scanner's Scan method will panic attempting to access the underlying cursor. This is counter to the goals of the lmdbscan package, where ideally errors are checked for once at the end of the transaction.

[code]

[2015-11-02 04:21] #21 closed

[2015-11-02 04:33] bmatsuo commented on #17
I think the proposed solution seems pretty good. The `lmdb.GetMultiple` example is a little clumsy. But afaict at the moment that is because the operation is a little clumsy, forcing a distinction between duplicates and a single value.

[2015-11-02 04:34] bmatsuo commented on #17
I think this is orthogonal to a separate method to set `opnext`, proposed in #18. If such a method exists it should probably advance the cursor when it is called and return a bool too.

[2015-11-02 04:55] bmatsuo commented on #20
The C documentation is a little strange. It mentions "close" must be called after some time or may not be called for other things but the memory must be reclaimed. So it is a little misleading.

The only time a Cursor may left unclosed is if it will be renewed. And even then it should be closed when it will no longer be renewed.

The documentation regarding MDB_env is a little stranger. But it's s

[2015-11-02 04:58] bmatsuo opened #24 "all: internal package for creating, populating, and tearing down environments."
There are functions that do this in several places. A single set of functions should be defined in an "lmdbtest" package in directory `internal/lmdbtest/`.

- Create a new environment at a temporary path with some given options (MapSize, MaxDBs, MaxReaders, Flags)
- Close an environment and remove its path.
- Open a named DBI
- Write a set of items to a database.

[2015-11-02 06:18] #24 closed

[2015-11-02 06:37] bmatsuo commented on #18
The above example might be cleaner calling `scanner.SetNext(nil, nil, lmdb.First, lmdb.NextNoDup)` anyway. It's still unclear if there are any situations where the Scanner.SetNext calling pattern fails completely.

[2015-11-02 06:37] #17 closed

[2015-11-02 06:52] bmatsuo opened #26 "lmdb: finalizer for Env"
Relates to #20

A finalizer for `lmdb.Env` should be straightforward and low overhead. The finalizer needs to check if `Env._env` is nil, closing it and setting it to nil otherwise. The finalizer must not panic if the Env was closed correctly.

[2015-11-02 06:56] bmatsuo opened #27 "lmdb: finalizer for Txn"
Relates to #20

A finalizer for Txn should only be required on unmanaged Txn types. Because managed Txn types have
a deferred Abort operation their resources will always be released.

Adequate benchmarks for unmanaged Txn objects must be in place before implementation and `benchcmp` should verify the performance overhead of a finalizer. Further, adequate benchmarks of Txn.Reset and Txn.Renew must

[2015-11-02 06:59] bmatsuo opened #28 "lmdb: finalizer for Cursor"
Relates to #20

Adding a finalizer for Cursor should be very easy. But care should be taken to ensure that benchmarks are in place and `benchcmp` is run before and after to quantify the overhead. Further, benchmarks for Cursor.Renew should be in place to further quantify its benefits.

[2015-11-02 07:21] bmatsuo commented on #20
Usage of mdbVal relates heavily to #10. This issue should probably track that until it may be resolved.

[2015-11-02 07:30] #26 closed

[2015-11-02 09:25] #27 closed

[2015-11-02 09:44] bmatsuo opened #31 "lmdb: Cursor.DBI incorrectly returns 0 after the Cursor is closed"
The implementation of Cursor.DBI explicitly returns 0 when the cursor is closed. The value `DBI(0)` is valid and references the environment freelist. So this is incorrect.

[2015-11-02 09:47] bmatsuo commented on #28
It seems that a finalizer may not be necessary for readonly cursors. Because the memory was allocated by LMDB it is reclaimed when the transaction terminates.

[2015-11-11 22:57] hobocastle opened #33 "Can't compile on windows"
Windows 7 Pro, 64 bit.  mingw-w64.  go 1.5.

Compilation fails with error "can't convert -1 to mdb_filehandle_t".

This appears to be caused by an assumption that the mdb_filehandle_t will be an int, which is not the case on Windows.

[code]

[code]

[2015-11-12 09:53] bmatsuo commented on #33
Thanks for raising the issue! I don't have a development environment set up on my Windows machine yet. But in the meantime if you are willing to test out my branch, `bmatsuo/fix-windows-compilation`, I think this can begin to be resolved. Please check it out and run `go build` and `go test`.

It seems like the C function mdb_env_get_fd returns `mdb_filehandle_t(-1)` (cast by C) in the case being c

[2015-11-12 23:06] hobocastle commented on #33
go build/go test on `master`
[code]

go build for `bmatsuo/fix-windows-compilation` is fine (aside from the warnings as above)

go test output for `bmatsuo/fix-windows-compilation`:
[code]

[2015-11-12 23:59] hobocastle commented on #33
Looking at the C code itself suggests you're correct - it's getting its value from either `mdb_env_open` or `INVALID_HANDLE_VALUE	(-1)`

[2015-11-13 05:01] bmatsuo commented on #33
Thank you for testing and helping debug these issues, @hobocastle.

That C warning looks like it could be serious. It may be worth investigating whether that is fixed in the latest version of the C library, and bringing it up in the OpenLDAP mailing list if it is not.

Other than that, it seems I derped in that `env_test.go` file and hardcoded use of the `/tmp` directory. Please try again with the

[2015-11-13 07:38] hobocastle commented on #33
Getting there!  I'll take a look at the causes of the new errors when I get in from work.

[code]

[2015-11-13 21:14] bmatsuo commented on #33
Hrm. This seems like a more challenging problem.

It seems that the syscall package seems to use os specific Errno constants (e.g. `syscall.EINVAL` is `1<<29 + 40` on Windows and 22 on Unix systems). And the C library uses Unix errno values. Here is an excerpt from the mdb_strerror function.

[code]

So the weird error message, "The device does not recognize the command." is actually a side effect

[2015-11-13 21:54] bmatsuo commented on #33
I have pushed a new commit to my branch. The end result is that the existing tests using errno values like `syscall.EINVAL` should work, and all the error messages the last update should be resolved.

The change effectively performs the translation from C (above), transforming return codes into the corresponding syscall.Errno values.  Though it is a little hacky because it hardcodes C errno number

[2015-11-13 22:10] hobocastle commented on #33
[code]

[2015-11-13 22:39] hobocastle commented on #33
Adding `// +build !unix` and `// +build !windows` comments into the files gets mostly-passing tests (excluding passing tests...)

[code]

[2015-11-14 06:01] bmatsuo commented on #33
Ugh. Apologies about the build tags. Thank you for figuring it out. :smile:

The `// +build !unix` tag isn't technically necessary in `error_windows.go` because of the filename suffix. I thought that `error_unix.go` would be omitted on Windows but I guess I was mistaken. Good to know.

I will look into these errors. But I am also going to get my own Windows development environment set up this week

[2015-11-15 02:34] bmatsuo commented on #33
@hobocastle, I was able to get a kludgey dev environment set up in Windows 10 under cygwin. In this environment I was able to get the remaining tests passing.

Please check the latest commits out and let me know how they work for you. I will open a pull request and work on cleaning up any hacks before merging the changes in.

[2015-11-15 09:19] hobocastle commented on #33
Looks good.  Obviously still has the warning from the C side, etc.

[code]

[2015-11-16 01:00] bmatsuo commented on #33
Thanks for all the help, @hobocastle. I've decided to include the fix in the 1.3.0 release. As we have discovered the problems were widespread and were not limited to something that I broke in the last release. But I am glad that we were able to get things working in a way that did not require changes to the exported API.

Thanks again.

[2015-11-16 23:31] #33 closed

[2015-11-16 23:51] bmatsuo commented on #31
Options:

- Runtime panic. Godoc claims that a Cursor panics after being closed but that is not the case.

- Truly invalid DBI. Returning the maximum integer value for a `MDB_dbi` type should always be invalid, except, possibly in extreme circumstances. But in such an edge case it is likely that LMDB has been rendered nearly unusable.

**mdb_env_set_maxdbs**:

[2015-11-17 06:49] #10 closed

[2015-11-18 08:48] #28 closed

[2015-11-18 10:15] #20 closed

[2015-11-18 10:45] #31 closed

[2015-12-10 12:28] bmatsuo opened #39 "lmdb: 0.9.17 has been released"
https://github.com/LMDB/lmdb/commit/2011eb37c1a3d390df2336cb2c55843771723a0c on the mdb.RE/0.9 branch.

[2015-12-10 12:40] bmatsuo commented on #39
I believe that the BSD build tags are no longer necessary.

[2015-12-10 13:14] #39 closed

[2016-02-03 10:33] bmatsuo opened #44 "all: Drop support for go1.3 and earlier"
The `.travis.yml` specifies that tests should be run for go1.2 and go1.3. This is somewhat anachronistic. And lately travis seems to be flaking out occasionally on some of the tests. Reducing the number of go versions that we are testing against well help determine if there is actually a problem in a realistic environment.

It still seems relevant to support go1.4. My understanding is that some so

[2016-02-03 10:34] #44 closed

[2016-02-11 10:41] bmatsuo opened #45 "lmdb: Update to LMDB 0.9.18"
Released on 2016-02-05

[2016-02-11 11:26] #45 closed

[2016-02-13 10:06] #7 closed

[2016-02-13 10:14] bmatsuo opened #51 "lmdbsync: investigate use of golang.org/x/net/context"
The hand-rolled Bag implementation is a little silly. And it may be bloating the implementation too much. I will put a simple branch together that relies on context.Context.

At some point this is going to get pulled into the stdlib. And it won't be under a "net" prefix.

[2016-02-13 10:44] bmatsuo opened #52 "lmdbsync: Env should be an argument of HandleTxnErr"
The docs for golang.org/x/net/context recommend that Context not be used to pass arguments to between functions. The Env is truly and argument for the functions. It is not always used. But it is common enough when you want to use a handler that it deserves inclusion in the arg list.

So the Handler interface should look as follows:

[code]

[2016-02-13 11:11] #51 closed

[2016-02-13 11:13] #52 closed

[2016-02-17 18:19] bmatsuo opened #54 "lmdbsync: default MapResizeHandler strategy should have exponential backoff"
Right now there is a constant delay. This is doesn't seem terrible for the default (low) number of retries. But increasing the number of retries is not as effective as it should be.

Also, it seems a little weird that the delay function only gets called after one immediate attempt. It seems more flexible and consistent to always call the delay function.

[2016-02-17 19:22] #54 closed

[2016-02-24 06:32] bmatsuo opened #56 "lmdb: possible CGO pointer argument panic using bytes.Buffer"
My experimental raft backend at github.com/bmatsuo/raft-mdb issues a panic due to the new cgo pointer restrictions. The problem occurs when a bytes.Buffer with a small amount of data is written using the Bytes method.

[code]

[2016-03-07 15:10] lmb commented on #11
Hi Bryan,

It seems to me that you are mostly considering write speed for this issue. I have a use case that I think could benefit from INTEGERKEY on the read side.

Specifically I want to store update logs for transactions in LMDB itself. Seems like a DBI with INTEGERKEY and APPEND when doing the put would give me fast writes (only one comparison with APPEND anyways) and faster scan when reading.

[2016-03-07 15:35] bmatsuo commented on #11
@lmd Thanks for the input. Honestly I hadn't really considered the benefits for a read-heavy workload.

Do you have a benchmark program that I look at and maybe use to help validate the performance? A C program would be ok if that is what you have.

Can you tell me about the read access pattern you had in mind? I suppose the performance benefits of the optimization would be ideal with heavy random

[2016-03-07 17:18] lmb commented on #11
I don't have code unfortunately, still thinking about the whole issue. Found this from hyc: https://gist.github.com/hyc/9810a14488c71e58038c (note that INTEGERKEY has only 31 of N keys found, not sure what's going on).

Seems like there is a nice speed up for the 10m keys case (~23 comparisons per insertion / lookup).

I was thinking that maybe it's possible to ship between amd64 and arm64, haven'

[2016-03-07 20:20] mranney commented on #11
Put me on the list for wanting integer keys, specifically for a read heavy workload that often includes ranges.

Portability of the database file is not a concern for me.

[2016-03-08 01:27] bmatsuo commented on #11
Thanks for the input @mranney. Indeed portability is not a show stopper for this issue.

I have gotten the branch with this experimentation working again, bmatsuo/value-interfaces. The tests and benchmarks are passing. Please go ahead and try it out if there is a particular dataset or access pattern would like to benchmark.

I will work on putting together some read-heavy benchmarks of my own.

Th

[2016-03-08 02:56] bmatsuo commented on #56
The solution is that the cgo callsite must actually contain a slice addressing operation for the tool to properly detect that the slice is being addressed and not the bytes.Buffer containing the slice. I have a branch with a fix. But I am concerned that there is a performance impact on resulting binaries.

[2016-03-08 07:18] bmatsuo commented on #11
@lmb I'm a little confused about what I'm seeing benchmarked here. Do you have any more details about the source of these tests/numbers, like a mailing list thread? That `(31 of 1000000 found)` bit is unsettling. But really without more background I'm not sure what to take away from that, really.

[2016-03-08 08:28] bmatsuo commented on #11
I realized that the experimental raft backend I have worked on uses a table with uint64  keys. On a 32-bit machine LMDB cannot store a 64-bit integer key/value (so a naive implementation isn't portable, in fact).

But I figured I would take a shot switching it to lmdb.IntegerKey to see how performance changed.

https://github.com/bmatsuo/raft-mdb/commit/6bddf6c5eed5867670987ba718da5115137c148f

In

[2016-03-23 14:55] zwb-ict commented on #12
@bmatsuo Execute me,
Would you please tell me how is it going on?
I have to compare keys before insert them into dbs.
Is there a better way now?

[2016-03-23 18:24] bmatsuo commented on #12
I haven't revisited this since go1.6 has been released. I still plan on doing it. But I just haven't gotten around to it.

But from the description of your problem I'm not sure if these APIs are what you need. Can you elaborate on your use case?

The use case for the mdb_set_compare and mdb_set_dupsort functions are when you have special comparison requirements. For example, keys in the database a

[2016-03-24 04:54] zwb-ict commented on #12
Thank you @bmatsuo, I want to impl a simple queue, which is similar with kafka, but lightweight.

The **meta** db used to record procuder and consumers

Topic1 (db)

| Key     |    Value |
| :-------- | --------:|
| Conumser_%s  | nextOffset |
| Consumer_%s | nextOffset |
| Consumer_%s  | nextOffset |
| Producer            | lastOffset |
| dataDBFileIndex | maxoffset      |
| dataDBFileIndex + 1 |

[2016-03-24 10:13] lmb opened #59 "lmdb: Reduce number of heap allocations of MDB_val"
I'm currently looking at allocation counts in the codebase I am working on, and I noticed that lmdb-go allocates short lived MDB_val objects, e.g. on every call to Txn.Get.

Would it be possible / safe to cache one or two MDB_val in Txn, and re-use them in Txn.Get and friends? I think there might be an issue with RawRead Txns, but I'm not sure I understand the code base sufficiently.

If this soun

[2016-03-24 20:02] bmatsuo commented on #59
Hrm. Storing pointers to two MDB_vals in the Txn object sounds like it might speed things up a little. I don't think RawRead should really be an issue, though to be prudent it might be best to zero-out the MDB_val after each operation in which it is used (e.g. `*txn.key = C.MDB_val{}`).

Please go ahead and attempt this change. I am going to merge in #57 when I fix the travis-ci job. But otherwise

[2016-03-24 20:10] #56 closed

[2016-03-24 20:40] bmatsuo commented on #12
Ok. I have a better idea now. And, Yes. It seems that you would need the functions discussed in this issue if your data needs to be ordered this way (by key size, then by key content).

For your example above specifically, it is also problematic because it is clearly using the MDB_INTEGERKEY/MDB_INTEGERDUP flag(s). And those flags are not currently supported in lmdb-go (see #11). Though unless you

[2016-03-25 00:14] zwb-ict commented on #12
@bmatsuo Get it! :+1:

[2016-03-25 00:24] bmatsuo commented on #12
@zwb-ict looking again your tables above (Topic1 & data file 1). It seems like you could potentially get by splitting the Topic1 db into two dbs Topic1Meta, which contains string keys "Consumer_*" and "Producer", and Topic1Index, which contains uint32 keys (dataDBFileIndex).

If you changed your data model in that way (using 3 dbs per topic instead of two) it seems to me like you wouldn't need cus

[2016-03-25 00:29] zwb-ict commented on #12
@bmatsuo change schema seems to be a better idea, I'll change to that. Thank you!

[2016-03-25 19:36] bmatsuo commented on #59
An interesting side effect of the proposed change is that data races from concurrent Txn use (e.g. on a Readonly Txn) would be caught by the Go race detector. In the current implementation the only data races occur in C space, without write barriers, and are invisible to the race detector.

[2016-03-30 01:06] bmatsuo commented on #59
@lmb are you working on putting together a pull request for this? Have you been having any difficulty that I could help with?

My curiosity got the best of me and I quickly threw together something that works as a proof of concept. Indeed it looks like it is possible to benefit from the suggested change, especially during transactions with lots of accesses (e.g. a range scan). Turn on RawRead and

[2016-03-30 03:37] bmatsuo opened #61 "lmdb: limited support for mdb_set_compare and mdb_set_dupsort"
Trying to figure out how to support these functions has been a long road that is at least partially documented in #12. But I have finally collected all the information I need about the practical requirements for using the APIs and the inherent limitations/guarantees of cgo. I believe the final pieces of the puzzle were delivered from Ian Lance Taylor on the golang-nuts mailing list.

https://group

[2016-03-30 06:31] lmb commented on #59
Hi Bryan,

I was going to look into this today. Easter weekend got the best of me :)
Do you have your code on a branch somewhere? Happy to polish it up if that
needs doing.

Nice that this gives such a significant speed up!

[2016-03-30 07:23] bmatsuo commented on #59
Oh, of course. How rude of me. Weekends and holidays especially can fail to register with me. Forgive me, and don't worry about it. I'm glad you enjoyed yourself :smile:

I pushed a commit to the branch bmatsuo/reuse-mdb-val. It's is the sum of about 30 minutes of work so it is rough.

All transactions allocate two MDB_vals when they are created. I think there is at least one important thing that

[2016-03-30 07:31] lmb commented on #59
No worries, I'll take a look. Which invocation do you use for benchmarks?

Re the single Get use case: in my opinion this will always be the worst
case, since you are incurring the allocation overhead for a tx every single
time (this includes acquiring a semaphore and writing to the lockfile).
While its important to not make this dog slow, anyone trying to seriously
use lmdb from Go has to batch o

[2016-03-30 08:01] bmatsuo commented on #59
When I run the benchmarks I use `go test -run=None -bench=.`. In this case adding the `-benchmem` flag may be good too. If I happen to be feeling paranoid about runtime variance I will use `-benchtime=2s` (the default is 1s).

You are mostly correct RE a single Get. Though I think it is actually probably quite common in reality. The overhead for any single-op transaction may outweigh allocation ov

[2016-03-30 08:10] bmatsuo commented on #59
Oh. And if you don't know about the benchcmp tool then you should be using that to compare benchmark results for different code versions. Just figured you should know if you didn't :)

[2016-03-30 13:54] lmb commented on #59
I implemented you change, which gets rid of the allocation cost for subtransactions. Regarding slowing down Get, this is what I get when benchmarking the same code twice on my OS X box:

[code]

Seems like the timing info is very unreliable.

[2016-03-30 13:59] lmb commented on #59
I also looked at reducing the number of allocations done in a Put, but no such luck. Do you know why there are 4 allocations happening? I would expect 2 allocations maybe, for the two unsafe.Pointer coversions.

[2016-03-30 14:17] bmatsuo commented on #59
I believe that the unexpected allocations you see are happening in the BenchmarkTxn_Put function itself (in bench_test.go). That is unfortunate throws the numbers off.

It always good to verify tests still pass :smile:  But indeed the timing is pretty erratic. And this doesn't seem too different from what I would expect. As long as relevant benchmarks go down that is good. But you typically do see

[2016-03-30 14:27] bmatsuo commented on #59
Also out of curiosity, what os/arch are you testing on? And are you in a VM?

[2016-03-30 15:51] lmb commented on #59
OS X 10.11.4, x86_64, with the kernel pprof fix applied. How do you want to proceed with this? I can create a PR, but frankly you've done the work. I just added 4 lines for the subtxn case.

I did look at the Put benchmark:

[code]

If I'm interpreting b.ResetTimer() correctly, only the allocations on line 82 & 93 should be taken into account for the benchmem output. This means that something like

[2016-03-31 00:01] bmatsuo commented on #59
I think you can go ahead and open a PR with subtxn stuff. The commit I made is tagged with name/email. I don't think there's an attribution issue or anything.

I'm confused about that pprof output. Is it a memprofile? I actually have never been able to make effective use of a memprofile output for some reason.

[2016-03-31 09:11] lmb commented on #59
Yeah thats a memprofile output, with -alloc_objects passed to `go tool pprof`. It shows the number of allocations done per line.

[2016-03-31 09:35] bmatsuo commented on #59
Oh, interesting. Maybe that flag is what has been keeping -memprofile from being useful to me... Thanks for the info.

I think I understand what you meant in your comment now. But I don't think the interpretation makes sense given the data. If it is the correct interpretation then I suspect there is a bug in profiling related to cgo. Lets look at the following two lines.

[code]

So, makeBenchDBVa

[2016-03-31 09:38] bmatsuo commented on #59
Oh. I think pprof may be counting allocations using malloc in C as well. If you look at the numbers using `-alloc_space` you see the size allocated in txn.Put is ~98MB. This may be approximately equal to the total amount of data in the  database at the end of the benchmark.

[2016-03-31 10:26] lmb commented on #59
The confusing bit is that the output from go test only includes allocations between ResetTimer and StopTimer, but the memprofile includes all allocations.

I removed the makeBenchDBVal call from the benchmark loop, and `go test` still reports 4 allocations per op. Looking at the memory profile shows that all allocations happen at txn.Put. The numbers for txn.Put (in BenchmarkTxn_Put.func1) do not

[2016-03-31 10:44] bmatsuo commented on #59
Umm. Wait.. So you made a change which should have reduced the number of allocs/op as reported by the benchmark output, and the number of allocs/op did not change? This sounds like a bug in "testing" package, then. No?

[2016-03-31 11:15] #59 closed

[2016-03-31 11:15] bmatsuo commented on #59
This should probably be in a separate issue regardless.

[2016-03-31 11:25] bmatsuo opened #63 "lmdb: strange numbers of allocations reported by benchmarks"
@lmb pointed out some anomalous looking numbers reported by `go test -bench=. -benchmem` in #61, Specifically regarding the BenchmarkTxn_Put function.

[code]

The 4 allocations reported are difficult to track down. ~~One should be happening in the benchmark function itself~~ (edit: that is false, allocations in the benchmark function get amortized and do not have a significant effect). But the ot

[2016-03-31 11:25] bmatsuo commented on #59
I created #63 for this issue

[2016-03-31 12:08] bmatsuo opened #64 "Release 1.6.0"
There is a sizable chunk of CHANGES not tagged in a release. I think after the bug fix #57, which caused a performance degration, and the optimization #62 I think things are in a decent spot for a new tag to be created.

The tag will probably be made in the next couple days. After the freshest commits have cured for a short time.

[2016-03-31 14:56] lmb commented on #63
So, here is how I interpret this:

1. The for loop runs N times
2. For N runs, makeBenchDBVal makes 21 allocations
3. For N runs, Txn.Put makes 440404 allocations

Now, considering that N is kind of large (a few 100k probably), allocations from makeBenchDBVal do not factor in. The 4 allocations per op are exclusively from Txn.Put. Not very exciting so far.

But where are those allocations happenin

[2016-03-31 15:07] bmatsuo commented on #63
Ah. I was partially misreading the code. Indeed makeBenchDBVal will only allocate a fraction of the time. So it will not have an effect on the benchmark's computed allocs/op.

Making those numbers add up is a stretch. Honestly given some of the weird swings in benchmark numbers I have seen before I have wondered if cgo could somehow be allocating or copying things which I don't expect. I never had

[2016-03-31 15:22] bmatsuo commented on #63
Well this is pretty fascinating. Check out the following example: http://play.golang.org/p/hC-b5VSG58

Now look at this benchmark: http://play.golang.org/p/e37ObBxwJP

And the results

[code]

Shocking

[2016-03-31 15:29] bmatsuo commented on #63
Wow. These benchmarks (for the earlier example) tell another interesting story: http://play.golang.org/p/vLQoKQRxPP

[code]

I guess the cgo pointer checks are doing a linear scan for pointers despite the fact that it is given a `[]byte`.

[2016-03-31 15:40] lmb commented on #63
That is indeed fascinating! Does DEBUG=cgocheck=0 change that?

[2016-03-31 15:45] bmatsuo commented on #63
Execellent question. The answer... NOT REALLY!! WTF?!

[code]

I had to make sure that was really the correct variable name. So weird.

[2016-03-31 15:47] bmatsuo commented on #63
I don't know why the allocated space went down.. It doesn't actually seem correlated with the variable setting.

[2016-03-31 15:50] bmatsuo commented on #63
In fact, the name was wrong, the environment variable is GODEBUG, not DEBUG. Oops.

That makes the linear runtime go away, but the allocations are still there. I'll update my old comment.

[2016-03-31 15:51] lmb commented on #63
See https://github.com/golang/go/blob/master/src/runtime/cgocall.go#L327 ?

[code]

[2016-03-31 16:00] bmatsuo commented on #63
I didn't completely realize this was a dumb runtime check which did not benefit at all from type information about the argument (presumably because it has already been converted to unsafe.Pointer).

I've also noted that this behavior seems to be restricted to (void*) arguments in C. If I change the C function signature to `int foo(char *x)`, and convert the unsafe.Pointer to type `*C.char` then al

[2016-03-31 16:11] lmb commented on #63
Yes, I think you are right. The check tries to be smart and aborts if it knows that the type can not contain pointers, but that plan is foiled by conversion to unsafe.Pointer. See https://github.com/golang/go/blob/master/src/runtime/cgocall.go#L466

Trying to dig up where the type coercion to unsafe.Pointer is happening, no luck :(

[2016-03-31 16:13] lmb commented on #63
Tadaaa https://github.com/golang/go/issues/14387

[2016-03-31 16:23] bmatsuo commented on #63
Fantastic detective work, @lmb. It makes me quite happy that this should be fixed before go1.7.

After noticing that the allocations were tied to `void*` arguments, I had a go and replacing all of them with `char*` (which wasn't hard because I already had to proxy all the txn ops in `lmdbgo.{c,h}` due to cgo pointer checks and go1.6). The commit is 7d11641.

The results look good. Though I'm going

[2016-03-31 16:41] bmatsuo commented on #63
After testing on tip it seems that the allocations remain present with `void*` arguments (though, indeed runtime is constant on that example benchmark).

But the allocs mean I may end up merging that `char*` change. I'll keep investigating a bit longer. I might bring the allocations up on one of the mailing lists.

[2016-03-31 16:52] lmb commented on #63
Nice :+1:  Maybe this will make the benchmarks less volatile as well.

[2016-03-31 17:05] bmatsuo commented on #63
I wouldn't get my hopes too high about that :smile:

Even in those numbers I pasted there is some weirdness (e.g. ReaderList +10%?)

The interaction with the system is so high. My suspicion is that you need a real clean-room style environment to run the benchmarks if you want truly consistent times. Something like busybox with minimal external processes, running everything in memory, and where any

[2016-03-31 19:18] bmatsuo commented on #63
I'm tempted to make this part of the next release as well. But it will wait until I can get some more insight about whether those allocations would feasibly be eliminated somehow in the near future.

[2016-03-31 19:36] bmatsuo commented on #11
I've become aware of a development that is related to all of this. https://github.com/golang/go/issues/6907

It looks like it will be possible to get a pointer to the raw bytes backing a string in go1.7. I remarked on the inability to do this earlier in the thread here.

The ability to push strings into LMDB would be pretty big (particularly for keys, PutReserve essentially solved the problem for

[2016-04-02 06:41] bmatsuo commented on #63
Yea. I think those allocations are going to be around for a while. I made an issue about it but it doesn't seem to be a high priority.

https://github.com/golang/go/issues/15048

 I'm preparing a pull request.

[2016-04-02 08:49] bmatsuo commented on #64
Postponing this to include the optimization discussed in #63.

The release will not include #65 so there are no compatibility concerns.

[2016-04-02 23:26] bmatsuo opened #67 "lmdb: deprecated conversion from pointers to slices"
The cgo wiki page suggests a different way to turn arrays into slices.

https://github.com/golang/go/wiki/cgo#turning-c-arrays-into-go-slices

The current method using the "reflect" package isn't guaranteed to be compatible.

https://godoc.org/reflect#SliceHeader

The docs claims the method is not portable. This may be due to os/arch restrictions on the amount of memory available for use and the s

[2016-04-06 15:45] bmatsuo commented on #67
LMDB has a hard limit on data size, 2^32-1 (`0xffffffff`). From the above document it seems like it should be ok to make a temporary conversion to `[1<<32 - 1]byte` when 'slicing' a db value.

[2016-04-06 16:54] #63 closed

[2016-04-06 17:08] bmatsuo commented on #64
Also added #67 because it's technically a defect, though it has been around for a while.

[2016-04-06 18:40] #67 closed

[2016-04-07 08:51] #64 closed

[2016-04-07 09:38] bmatsuo opened #70 "lmdb: Txn.OpenDBI return value is not specified and not implemented clearly"
I took a look at the import graph generated by godoc.org. It pointed out some interesting things. Most significantly it seems like `math.NaN()` is used to generate an "invalid" DBI in case of failure in mdb_dbi_open.

[code]

This is weird but it also turns out to be pointless. Converting math.NaN() to DBI (a uint type) results in 0. This turns out to be questionable behavior because 0 is not actu

[2016-04-08 12:24] bmatsuo commented on #70
After more thought I think it's better to just use whatever DBI is set (if any) by mdb_dbi_open. This happens to be zero (never set) at the moment. This is backwards compatible. And applications are supposed to check all their potential errors.

Because the package will use whatever value is "returned" by LMDB then the return value in the error case should remain unspecified because it is deferred

[2016-04-08 15:19] #70 closed

[2016-04-09 05:32] bmatsuo opened #72 "lmdbscan: stabilize API and move out of exp/"
The lmdbscan API hasn't changed in a long time. There is an open question regarding its usage (#18). But anything coming out of that issue should be backwards compatible.

People really should be using the package. I'm a little worried that no one is using it primarily because it is under exp/.

I need anyone who has backward incompatible suggestions for exp/lmdbscan to bring them up soon. No real

[2016-04-16 19:05] tschottdorf commented on #61
Hi Bryan,

was just poking around the source code for exactly this, glad you've already given it a look.
Would you recommend I give the above a try using your feature branch? I'm not in any type of serious setting (so danger zone is fine as long as it has a chance of working).

cc https://github.com/cockroachdb/cockroach/pull/5220

[2016-04-16 19:37] bmatsuo commented on #61
You are welcome to try development against the branch I mentioned in the issue description. It may not always be up to date with master. But it's unlikely to have conflicts so merging master on your own is probably easy and safe enough. Feel free to comment on this branch if anything like that comes up.

I haven't really working hard toward this as I don't have a direct use case. But it sounds lik

[2016-04-21 03:28] zwb-ict opened #74 "Should I call runtime.SetFinalizer(qe.env, qe.env.Close) in my NewQEnv?"
Execute me, @bmatsuo
Below is my code:

[code]

I'm not sure if I need call
[code]

and when golang gc, will golang collect the pointers in a struct object?

[code]

[2016-04-21 03:45] bmatsuo commented on #74
Setting a finalizer is not necessary. The NewEnv function sets a finalizer for every Env.

https://github.com/bmatsuo/lmdb-go/blob/master/lmdb/env.go#L76

However, you should attempt to make your calls to Env.Close explicit. The finalizers on types in the LMDB package are provided as a safety net to avoid leaking memory allocated in C. But, finalizers are not dependable for cleaning up resources *

[2016-04-21 14:58] zwb-ict commented on #74
@bmatsuo Get it! Thank you

[2016-04-21 14:58] #74 closed

[2016-04-22 02:19] zwb-ict opened #75 "How to build with glide?"
I'm using golang v1.6.1, and glide for vendor manage.

I run
[code]
In my project, which has been add to $GOPATH, get error:

[code]

I hope to build lmdb-go first, so I can get auto-complete with gocode set lib-path.

[2016-04-22 18:30] bmatsuo commented on #75
I think the problem is that glide needs you to specify subpackages explicitly. The lmdb package is at import path github.com/bmatsuo/lmdb-go/lmdb, not just github.com/bmatsuo/lmdb-go.

I think something like the following is what you need in your glide.yaml file in order to vendor lmdb-go with glide:

[code]

And, to make use of other subpackages like exp/lmdbsync you would just add them to the **

[2016-04-23 03:19] zwb-ict commented on #75
@bmatsuo Thank you, this sloved my problem.

[2016-04-23 03:19] #75 closed

[2016-04-28 08:11] zwb-ict opened #77 "with lmdb.Append get error: mdb_put: MDB_KEYEXIST: Key/data pair already exists"
I call
[code]

Got error:

mdb_put: MDB_KEYEXIST: Key/data pair already exists

Below is my code, the qp.partition type is lmdb.DBI, inited before I call push
[code]

[code]

The loop is only once, and I delete db everytime before I run this test, also set the key to a sepcial key,
[code]
So It cann't  EXIST in db.

I don't know how to debug this.

[2016-04-28 08:17] zwb-ict commented on #77
<li>#MDB_APPEND - append the given key/data pair to the end of the
database. No key comparisons are performed. This option allows
fast bulk loading when keys are already known to be in the
correct order. Loading unsorted keys with this flag will cause
a #MDB_KEYEXIST error.

I thought this may be the reason, after create a DB, how to APPEND without set compare functions?

my data looks like:

| Ke

[2016-04-28 08:33] bmatsuo commented on #77
You say that the database is empty and you only call txn.Put() once? If that's the case then it doesn't seem like you should get that error (were that to happen, it would be a bug in the C library). So I wonder if something is wrong with your test, and if you are putting more items in than you realize.

You can check how many entries are in a db using [txn.Stat()](https://godoc.org/github.com/bmat

[2016-04-30 11:44] zwb-ict commented on #77
Thank you @bmatsuo, you are right, I checked, and found I passed a wrong env.

[2016-04-30 11:44] #77 closed

[2016-05-24 09:41] zwb-ict opened #79 "Opening existing database in read-only mode fails"
I have to compatibility with c code.

(headerFile's type is  uint64_t, val is 0)
[code]

go code:

topic.currentPartitionID's val is 0
[code]
when run, I got error:

How to debug this?

[2016-05-24 11:49] bmatsuo commented on #79
When debugging this kind of stuff its useful to go back to the C documentation. The error says that **mdb_dbi_open** failed with the error "permission denied" (i.e. the errno value EPERM). So it is best to see if the docs for that function make any mention regarding the meaning behind that error code.

http://lmdb.tech/doc/group__mdb.html#gac08cad5b096925642ca359a6d6f0562a

In this case, EPERM is

[2016-05-25 09:01] zwb-ict commented on #79
Thank you @bmatsuo , In C code, I used to store data in root database, and no named database used.
After changed to use named db to compatibility with CreateDBI, I forgot to set maxdbs before ```mdb_dbi_open```, which cause db doesn't exist, and got this error. Now fixed

[2016-05-25 09:01] #79 closed

[2016-05-25 10:20] zwb-ict commented on #79
@bmatsuo Is there a way to use unamed database? I want to impl a queue like kafka, which an env means a partition. So there only one db in an env. It's too strange to set Maxdbs to 1.
Is there any danger to store data into unamed database?

[2016-05-25 10:35] bmatsuo commented on #79
@zwb-ict If you do not intend to use more than one database per environment, you may use OpenRoot alone. And you do not need call SetMaxDBs if you only call OpenRoot. You can even set flags on the root database when you first open it.

The only problem that can arise is if you decide to use more than one database in a future version of your application. You cannot have a database named "FOO" and a

[2016-05-25 11:21] zwb-ict commented on #79
Thank you @bmatsuo, I think you are right. Keep the application stay flexible is more important. I'll keep using named database.

[2016-07-15 13:15] michael2m opened #81 "Invalid constant valMaxSize in lmdb/val.go when run in 32 bit OS"
Getting "array bound is too large" from Go in lmdb/val.go

Originates from valMaxSize constant. On 32-bit processors this is 1<<31-1 (2GB) rather than 1<<32-1 (which would be the unsigned integer length). Also on 64-bit processors the max value could be much larger for LMDB. Although as stated in comments this is for portability. However this strongly constrains database size.

[2016-07-26 08:25] zwb-ict opened #82 "How offset and when should ReaderCheck be called?"
Should I call ReaderCheck everytime before
[code]
and
[code]

[2016-07-26 16:18] lmb commented on #82
No, managed transactions know how to clean up after themselves. If you are worried about crashed processes you can just call `ReaderCheck` once, after you have opened the DB. That way stale reader slots from a crashed process will be cleaned.

[2016-07-27 06:24] bmatsuo commented on #82
@lmdb I don't think that's completely correct. If a single (daemon) process is accesses the database then yes, calling `ReaderCheck` once when the process starts should be sufficient. As long as the process does not leak view transactions (by using the API for unmanaged Txns) then the process would be wasting cycles calling `ReaderCheck` again later in the same lifecycle.

@zwb-ict If multiple pro

[2016-07-27 06:35] bmatsuo commented on #81
Derp. My apologies. The runtime malloc.go code is somewhat confusing and I guess I misread it. Can you tell me what operating system and arch you are compiling for?

I believe the C library is designed with a hard limit of 1<<32-1 for a single MDB_val (the constant MAXDATASIZE). So I don't think larger sizes need to be considered.

Sorry for the delayed response. I have been on a rather long holid

[2016-07-27 19:23] bmatsuo commented on #81
@michael2m I looked into the problem and I understand why the compilation fails during type checking. I pushed PR #83 to fix the situation. Can you confirm that the compilation error you saw has gone away? I will merge the change when that is confirmed.

Unfortunately I have a hard time verifying compilation on platforms I don't possess because cgo cannot be cross-compiled simply.

[2016-07-28 07:34] michael2m commented on #81
Partially my mistake, it is about the maximum data item size. Which is in LMDB set to 32 bits (0xffffffffUL in source, I believe lmdb.c). So please ignore my remarks about 64-bit arch.
I think your PR fix is acceptable for practical purposes. Have to retry compilation on target device after the weekend.

[2016-08-10 14:47] zwb-ict commented on #82
@bmatsuo Can env be used between multi goroutine and why?
It seems that  txn cann't

[2016-08-16 10:06] #81 closed

[2016-08-16 10:33] bmatsuo commented on #82
@zwb-ict Yes, an Env type can be used from multiple goroutines. And in general, as you point out, Txn objects cannot be shared between goroutines (it doesn't matter if you synchronize their usage or not.

However, a View Txn (Readonly) may be used in multiple goroutines **as long as the uses are synchronized** in some way. This is because lmdb-go made the decision to open every Env with the C flag

[2016-08-23 04:10] zwb-ict commented on #82
@lmb @bmatsuo Thank you.

[2016-08-23 04:10] #82 closed

[2016-08-31 08:27] zwb-ict opened #84 "env.Update don't block other goroutine's env.Update?"
I my mind, I thought **write txn** is something like **exclusive lock**, it'll block other threads/processes to write db, but in my code, before a write txn exit, another goroutine get
a write txn, I don't know why. Below is my code:

[code]

Below is my log:

From log I see goroutine 40 call queueEnv.Update before goroutine 152 exit queueEnv.Update.

[2016-08-31 10:13] zwb-ict commented on #84
I write a sample c code:
[code]

Below is the output:

This looks ok, is there anything wrong with my golang code?

[2016-08-31 10:36] #84 closed

[2016-09-06 03:20] zwb-ict opened #85 "mdb_cursor_get: MDB_PAGE_NOTFOUND: Requested page not found"
When will this error happen?
What's the influence?
May it be ignore?

[2016-09-07 09:24] zwb-ict opened #86 "How readonly txn.Reset and txn.Renew use?"
I create a read-only txn in a goroutine, then this txn will called in another goroutine frequently.

The scene is:
1. four writer goroutines write to the db, then four reader goroutines read this db(this four readers don't share txn.)
2. each time, a reader read some data from db (such as 20 key one time)，if db has not enough data, return, after 50ms, read again.

so I call txn.Reset after I creat

[2016-09-08 01:24] bmatsuo commented on #86
So are you using a cursor in your read transactions? I'm not immediately sure why `mdb_cursor_renew` is in that error message.

The order of txn operations sounds fine... Begin, Reset, Renew, Get, Reset, Renew, Get, Reset, Renew, ..., Abort. If cursors are not involved I believe that should work.

When you are using cursors you should make sure to call `txn.Renew()` before calling `cursor.Renew(tx

[2016-09-08 01:34] bmatsuo commented on #85
I think this is a pretty serious error. The following is an excerpt from lmdb.h:

[code]

I can't find any information about why this error occurs. You may need to resort to contacting the openldap-technical mailing list (official source of help for LMDB).

Are you using any exotic flags when opening the environment? A fancy filesystem perhaps? Might you have the environment open twice in the same

[2016-09-08 02:30] bmatsuo opened #87 "Update LMDB to 0.9.19"
The GitHub [mirror](https://github.com/LMDB/lmdb) of the project is out-of-date and a new version of LMDB has been released. It is available on the **mdb.RE/0.9** branch of the OpenLDAP [repository](http://www.openldap.org/devel/gitweb.cgi?p=openldap.git;a=summary) (commit 27f6160).

[2016-09-08 02:33] bmatsuo commented on #87
The mentioned commit is actually not a release. When the release is made a tag with name **LMDB_0.9.19** should be created.

[2016-09-08 02:33] #87 closed

[2016-09-08 02:46] zwb-ict commented on #85
@bmatsuo I run four readers and four writers in one process, each of readers and writers is a independent goroutine. they all open the same environment(env path is the same). Is this the problem?

[2016-09-08 03:02] bmatsuo commented on #85
It sounds like that may be the cause. You must only have one Env open for each path in use by your program. All transactions should be created using the same environment (you shouldn't need synchronization for this -- it's already handled by the library). Just do all the Env setup in one goroutine and pass the initialized/open Env to all your worker goroutines.

Let me know how that goes.

[2016-09-08 04:46] #72 closed

[2016-09-08 07:33] zwb-ict commented on #86
@bmatsuo after `txn.Reset` and before `txn.Renew`, may GC will free this txn?

[2016-09-08 19:20] bmatsuo commented on #86
@zwb-ict no, the GC will not free the txn. As far as I know the primary benefit of reseting/renewing transactions is to reduce allocations and bookkeeping. It wouldn't be very useful if the GC destroyed the transaction between calls.

You should also make sure that txn.Abort() is called when you are done with the Txn object because the C library needs to clean up the transaction and do its final b

[2016-10-10 07:49] zwb-ict commented on #85
@bmatsuo I have made sure open the same env in multi goroutines (in a process) make this cause.

[2016-10-10 07:49] #85 closed

[2016-10-10 07:50] zwb-ict commented on #86
@bmatsuo this caused by open the same env in multi goroutines.

[2016-10-10 07:50] #86 closed

[2016-12-02 12:11] bmatsuo commented on #18
This issue has been open forever and I have not had a clear example that demonstrates its necessity. I am closing it.

[2016-12-02 12:11] #18 closed

[2016-12-15 03:20] slav opened #91 "Windows compilation error"
When trying to build on windows getting the following error. Any suggestion on how to fix?

[code]

The main issue is that ```PTHREAD_MUTEX_ROBUST``` is undefined.

[2016-12-16 03:43] bmatsuo commented on #91
Interesting. This may be considered a bug in lmdb itself, as the presence of Windows should be detected, and the library tries to select available APIs by default. So it may be worth bringing up on the official mailing list.

Can you tell me any more about your build environment? Are you compiling inside cygwin. It has been a while since I got everything building on Windows.

I haven't found any i

[2016-12-16 17:58] slav commented on #91
Yes, trying to build under cygwin. Do you need any other info? I'll try the other branch and will let you know.

Is this file straight out of LMDB? Or have you modified it in some way for go?

[2016-12-16 23:33] bmatsuo commented on #91
Thanks for the info. I presume you have a 64-bit processor as well, though I doubt architecture is significant.

I have not modified the C source. If you try to compile the LMDB project I think you will run into the same errors.

I noticed in my previous comment that the branch name looked strange because of GitHub markup. The name is `bmatsuo/issues/91/windows-robust-sem`, if there was any confus

[2016-12-17 02:11] slav commented on #91
I'm getting ```can't load package: package github.com/bmatsuo/lmdb-go/lmdb: D:\Projects\Go\src\github.com\bmatsuo\lmdb-go\lmdb\lmdb.go: invalid #cgo line: #cgo windows -DMDB_USE_POSIX_MUTEX```

[2016-12-17 15:03] slav commented on #91
Fixing flags to ```#cgo windows CFLAGS: -DMDB_USE_POSIX_MUTEX``` results in the same build error with PTHREAD_MUTEX_ROBUST not found

[2016-12-17 15:05] slav commented on #91
Although ```#cgo windows CFLAGS: -DMDB_USE_ROBUST=0``` seems to have fixed that part, running into other issues:

[code]

[2016-12-17 16:04] slav commented on #91
I ended up installing http://tdm-gcc.tdragon.net/ instead of cygwin and everything builds there.

[2016-12-17 16:09] slav commented on #91
Interestingly enough, master branch builds with tdm-gcc too. I guess something is missing in cygwin compiler. The windows flag is not needed. Need right compiler.

[2016-12-17 16:09] #91 closed

[2016-12-20 11:44] bmatsuo commented on #91
That is very interesting. Thanks for your investigation. Sorry about the bad cgo directive (on my branch). But I'm glad you worked past it.

I did have things compiling under cygwin originally. I wonder why that is no longer working.

[2016-12-30 20:52] bmatsuo opened #92 "Update LMDB to 0.9.19"
A new version of LMDB has been officially tagged on 2016-12-28.

[2016-12-30 22:55] #92 closed

[2017-01-10 10:40] xlab opened #94 "Too old LMDB version. Also deadlock under Linux"
Hello! I've been using [my own bindings](https://github.com/zenhotels/lmdb-go) for a while, but recently switched to your package because of handy API and because Go doesn't allow to link the same C symbols under different package names.

The problem is, the code you're using in the package is quite outdated. It's 1 year 1 month old. And I've been using the tip 0.9.70 from here:
https://github.com

[2017-01-10 19:00] bmatsuo commented on #94
Thanks for the input. Someone made #80 I while ago with the same request.

The C library is taken from the mdb.RE/0.9 branch of the openldap repository. AFAIK this is where stable releases are tagged. My understanding from the mailing list is that the master branch is not stable for projects other than openldap to use. If I have the wrong idea please let me know.

On 2016-12-28 LMDB 0.9.19 was tag

[2017-01-10 21:11] xlab commented on #94
@bmatsuo
Thanks for review, it seems that `MDB_USE_SYSV_SEM` feature has not been merged in the stable branch yet, that's why I'm talking about their tip at

* https://github.com/LMDB/lmdb/blob/mdb.master/libraries/liblmdb/lmdb.h
* https://github.com/LMDB/lmdb/blob/mdb.master/libraries/liblmdb/mdb.c

We only can get semaphore backend options using their tip. That's the issue, I'm not a big fan of

[2017-01-10 21:54] bmatsuo commented on #94
I can't really find any useful info about MDB_USE_SYSV_SEM. I can't even find anyone on the mailing list saying that this is a problem. I will continue to look into the issue though.

I see that the python bindings provide an option to use either the stable branch or master. I wonder if something like that would be workable here using tags.

[2017-01-11 00:35] xlab commented on #94
Not sure a branch that deadlocks on popular linux distros can be considered "stable", especially where there is no found traits from the "unstable" one.

When I first discovered that issue months ago, I spent 2 days debugging, just a wield guess and by reading `mdb.c` code I found out that issue. I think you can search for `MDB_USE_SYSV_SEM` in https://github.com/LMDB/lmdb/blob/mdb.master/librarie

[2017-01-11 01:02] xlab commented on #94
Anyway, talk is cheap. There is a minimal reproducible example:
https://gist.github.com/xlab/f7aee266ab741a0412b44ee145ccbc23

The deadlock happens there https://gist.github.com/xlab/f7aee266ab741a0412b44ee145ccbc23#file-lmdb_deadlock-go-L40 with random chance of course, so life is shiny and fun.

[2017-01-11 01:19] xlab commented on #94
The reason why it happens and why the switch makes sense is because of the location where semaphores are kept. POSIX are kept in thread local storage, and SysV are system-wide. See http://stackoverflow.com/questions/368322/differences-between-system-v-and-posix-semaphores

That's why `runtime. LockOSThread()` also helps to avoid thread switches by goroutines, but you can't use it everywhere in the

[2017-01-16 03:24] slav opened #96 "Exception with cursor.Get(k, nil, Set)"
I have db with dup values (not sure if relevant). When I'm trying to do ```k, v, e = cursor.Get(buf.Bytes(), nil, lmdb.Set)``` I get exception (see below). With ```k, v, e = cursor.Get(buf.Bytes(), nil, lmdb.SetKey)``` it works. Just Set positions cursor at the key but doesn't read value. But cursor.Get still attempts to read it which leads to the exception.

[code]

[2017-01-22 09:26] glycerine commented on #94
Reading through the git blame on the source at

https://github.com/LMDB/lmdb/blame/mdb.master/libraries/liblmdb/mdb.c

 suggests that the -DMDB_USE_SYSV_SEM was added between 2-3 years ago, so I don't fathom why it doesn't show up in the version being used here.

[2017-01-22 22:48] bmatsuo commented on #96
That is a strange error. The function causing that panic is `C.GoBytes()`, which seems very strange.

The error is probably because `lmdb.Set` will not actually read values from the database, as you said. So whatever value lmdb-go is trying to extract wouldn't be valid anyway. I will add a test case for this to reproduce.

I will probably end up having the `Cursor.Get` method check the cursor op s

[2017-01-22 23:16] bmatsuo commented on #96
Interestingly, on my primary Linux machine `lmdb.Set` and `lmdb.SetKey` seem to operate the same (they return the same values).

I notice that you are running your program in a Windows environment. Perhaps you could run the tests for me on your computer and confirm that the test case I added does in fact reproduce the panic for you? It has been some time since I compiled lmdb-go on Windows myself,

[2017-01-27 23:37] slav commented on #96
All the tests in branch "bmatsuo/cursor-op-set-testing" pass on windows.

I'm also unaware which ops init key/data and which don't. Documentation is only specific about MDB_SET_KEY to return key + data.

[2017-01-28 06:49] bmatsuo commented on #96
OK. Thanks for checking that, @slav. I understand what is happening now. This is an issue with the `bytes.Buffer` type that I have run into before in #56. I can reproduce the error now and I will work on a fix.

[2017-01-28 07:55] bmatsuo commented on #96
I have pushed a commit to that branch (bmatsuo/cursor-op-set-testing). I have a working fix that I will upload to another branch an issue a pull request to respect the process. Thanks again for your help, @slav. It is very much appreciated.

[2017-01-28 07:59] bmatsuo commented on #94
Thanks for digging @glycerine

I really need to bring this up on the mailing list... I really thought someone in the world would have done it by now but the only thread about the flag that I could found when I looked was one discussing a release of OpenLDAP where someone wanted to use it.

[2017-01-28 09:06] #96 closed

[2017-01-29 12:29] bmatsuo commented on #94
@xlab let me get this straight. If you call `runtime.LockOSThread()

[2017-01-29 12:40] bmatsuo commented on #94
Sorry, I fat-fingered by response submission before I was done, @xlab. My point is that, if this is actually deadlocking because your `main` goroutine is switching threads then that is a documented application design constraint, and the library makes no guarantees about the safety of your data or application. Even in LMDB tip use of the library in such a way is not permitted.

[2017-01-29 14:00] glycerine commented on #94
Odd though. I don't see in the repro gist (https://gist.github.com/xlab/f7aee266ab741a0412b44ee145ccbc23) any use of goroutines. Of course, I suppose the Go runtime is free to move one's go-routines to different threads at will unless one uses LockOSThread.

Are we to conclude that correct use of lmdb-go requires first calling LockOSThread() from a designated go-routine, and then only accessing th

[2017-01-29 20:22] bmatsuo commented on #94
Indeed. I'm sure I would have thought of this more immediately if there were direct use of goroutines.

I have tried to document this as clearly as possible in various documentation surrounding the BeginTxn, Update, and View methods on Txn. This issue may require me to take another read over those docs.

But yes, write transactions must be confined to a single goroutine which has called LockOSThre

[2017-01-29 21:00] glycerine commented on #94
Excellent. Thanks for the clarification.

I agree it would be a kindness to users to mention runtime.LockOSThread in the README and in the intro to the package (that which shows up at the top of the godoc).  None of the examples use it either at present.

[2017-01-29 21:25] glycerine commented on #94
I can confirm that the original gist deadlocks on linux, even without the "unsafe" flag lmdb.NoTLS.

However when I add the runtime.LockOSThread() calls in, as in this gist
https://gist.github.com/glycerine/dc92cf0e41db6806711d9936fa2d23d1

then it runs to completion.

[code]

[2017-01-29 21:44] xlab commented on #94
@bmatsuo @glycerine AFAIK, the main goroutine is a goroutine too, so runtime can switch main over different threads too. That's unfortunate.

As for `LockOSThread` — it behaves like a global mutex that is locked by another person sometimes, and you can't be sure about that. If somebody creates a package API that locks goroutines to threads internally, you must avoid locking, but otherwise you are

[2017-01-29 23:35] glycerine commented on #94
Thanks for the lucid explanation. It does seem very error prone, indeed, to rely on a course, global lock.  Much better would be to have goroutine serialization controlled by a library-specific lock.

[2017-01-30 08:43] bmatsuo commented on #94
lmdb.NoTLS will actually have no effect, in general. It is defined for completeness, but general usage of lmdb-go will ensure that the flag is **always** provided to the underlying C library to minimize the number of places that LockOSThread must be called (which is still non-zero).

https://godoc.org/github.com/bmatsuo/lmdb-go/lmdb#Env.Open

@xlab Your concerns about LockOSThread are absolutely v

[2017-01-31 00:50] glycerine commented on #94
why not just yse a simple sync.RWMutex that is library lmdb-go specific and leave out the LockOSThread and (all other locking) all together?

[2017-01-31 01:59] bmatsuo commented on #94
@glycerine: In general, it is a requirement of the LMDB C library that all use of a transaction occur on the thread that creates it. Calling LockOSThread cannot be avoided safely as far as I know (though, perhaps, sysv sem is the solution -- as I was saying in my last comment).

However, this is an interesting point. I have an extremely experimental package, github.com/bmatsuo/lmdb-go/exp/lmdbsync

[2017-01-31 12:49] xlab commented on #94
Wow, good to know that locking mechanisms in LMDB C library are so decoupled for the logic that it's possible to turn them off with a simple define override. I hope that the approach of replacing C locking mechanism with Go locking mechanism on the Go side will work as good as it sounds to me! 😉

[2017-02-01 16:20] bmatsuo commented on #94
It's worth noting that use of MDB_NOLOCK brings with it caveats that are not present by default. So I'm not sure that its use can ever truly supersede the current, low-level interface in the lmdb package. This is what I mean:

The RWMutex access pattern required when using MDB_NOLOCK is actually more restrictive than vanilla LMDB, which allows read transactions concurrent with write transactions.

[2017-02-01 20:50] glycerine commented on #94
good point.

So we'd have to roll our own synchronization.  Still might be worth it. Probably not that hard. Just look at what lmdb is doing already, and move that "upstream" into the go library.

[2017-02-06 01:20] bmatsuo commented on #94
@glycerine I'm not sure I understand what you mean. I don't think lmdb.h exports an API which would allow a wrapper to properly synchronize an `MDB_NOLOCK` environment the way LMDB will itself when `MDB_NOLOCK` is omitted.

I am not particularly interested in patching lmdb.h, mdb.c, or other LMDB files because it will make pulling updates from upsteam LMDB more challenging.

[2017-02-06 04:54] bmatsuo commented on #11
I am coming very far along in my implementation of this enhancement. My current implementation shows the consistent performance improvements you would expect from this optimization. I probably won't get the code merged until after go1.8 has been released. But that will probably be good because of the cgo optimization it will contain.

The GitHub branch bmatsuo/values-interfaces is up to date if an

[2017-02-12 16:01] bmatsuo opened #103 "PutMulti does not return the number of items written"
When MDB_MULTIPLE is given to the `mv_data` field on the "length" parameter is set to the number of bytes written. Presumably items are written in page order (which is not necessarily sorted order from my experimentation). It's not clear exactly whether this is supposed to interplay with another flag like `MDB_NOOVERWRITE` or merely with errors like `MDB_MAP_FULL`.

From the official [docs](http:/

[2017-02-12 17:23] bmatsuo opened #104 "lmdb: Txn.Reset clears the Txn finalizer when it should not"
The docs for Txn.Reset do not mention that the method clears the finalizer on the Txn object. They do indicate however that everything the finalizer is meant to prevent is still possible. So it does seem like retaining the finalizer until Abort is called is the correct action.

I probably did this because of a benchmark, without realizing the impact of it. So the performance impact should be quant

[2017-02-13 02:20] bmatsuo commented on #104
It seems like this was done because the finalizer would cause segfault/panic when used with the sync.Pool type. This is a little counter-productive though because any Txn objects freed by a sync.Pool without a finalizer will leak resources and will not release their reader slot, causing the database to grow excessively.

The root cause of what I had determined to be the problem however, I now beli

[2017-02-13 08:09] bmatsuo commented on #104
If you want to be really technical about it modifying the finalizer behavior is not backwards compatible. But the package's stance is that finalizers on the types that it defines are entirely its domain and not part of the "public API". If a user were to clear or change the finalizer on a value allocated by the lmdb package the package does not guarantee them a way to change the finalizer back to

[2017-02-13 08:12] #104 closed

[2017-02-13 10:30] bmatsuo opened #106 "PutMulti incorrectly panics when passed an empty page"
The lmdb package has to adjust empty inputs to allow CGO calls to succeed in the general case. But this adjustment causes Cursor.PutMulti to panic when it tries to validate the consistency of its arguments.

Unfortunately, in the current release of LMDB fixing this bug would only cause LMDB to segfault moments later. But once this bug in LMDB is fixed this bug should be addressed.

Note that the p

[2017-02-14 10:10] bmatsuo opened #111 "Add Env.ReaderCheck to primary usage examples"
This method is actually pretty critical to using MDB in production. And it is not being called out at all in any documentation. If an application crashes for some (potentially unrelated) reason during a read transaction you can easily end up with stale readers and machines hitting their disk quotas.

[2017-02-14 22:03] bmatsuo opened #112 "Fix or remove coverage badges"
They are not very useful because they always say "error" (the error is only because build status are not persistent by gocover.io).

[2017-02-15 10:14] #111 closed

[2017-02-15 10:15] bmatsuo commented on #111
I accidentally committed this to master.... It's good though..

[2017-02-15 13:02] bmatsuo commented on #11
@mranney @lmb I am planning on merging support for unsigned integer values this weekend (approx 2017-02-19). If wanted to take a look at #99 and give any feedback I'd appreciate it (obviously, I don't mind if you don't want to or don't have time). I just wanted to give fair warning since this has been something in the works for a while.

[2017-02-15 13:02] #112 closed

[2017-02-20 17:58] lmb commented on #11
Sorry for the late reply, do you have a high level description what the new API would look like? It's quite fiddly to go through all the commits.

[2017-02-20 18:09] lmb commented on #104
FWIW, I think lmdb Txn should never be put into a sync.Pool.

From the doc of sync.Pool:

(emphasis mine)

I don't think it makes sense to tie reclaiming Txn to GC cycles. The application has to decide when / if this happens.

[2017-02-20 23:45] bmatsuo commented on #104
@lmb, Thank you for your comment and concern regarding this issue.

I have read this documentation. While it is true, garbage collection pressure is not the issue as the pooled objects are allocated in C, my benchmarking and experience trying to increase performance of my raft-mdb fork has shown me that pooling Txn objects can lead to drastic performance benefits. My current understanding of the p

[2017-02-21 00:03] bmatsuo commented on #11
Forgive me, @lmb. The proposed API has indeed changed significantly since its first inception, and the branch carries that lineage with it. The change is also rather significant in size, which adds to its unwieldiness. I wish there was an easy way to generate a diff at the godoc level. That would make illustrating the changes somewhat easier.

There is a high-level example that basically gives an

[2017-02-21 18:11] lmb commented on #104
I think we're misunderstanding each other.

1. Yes, free lists can be beneficial for lmdb Txns. I'm not saying never put Txn into a freelist. I'm saying never put a Txn into a sync.Pool. It makes no guarantees whatsoever about deallocation, and no guarantees that a finalizer is called when a Pool is GCed. This means you will leak LMDB reader slots over time, rendering the DB inaccessible.

2. You

[2017-02-22 03:53] bmatsuo commented on #104
I'm not sure what use case you are arguing for here. Why would you create many pools and allow them to be GCed over the course of your application life time? It seems to me that the common scenario is that a pool exists for the entire lifetime of an application.

If a pool is only GCed when the program terminates, then a call to Env.ReaderCheck when the program starts again would clear any reader

[2017-02-22 08:12] lmb commented on #104
Behind the scenes, a sync.Pool keeps a weak list of "things" per runtime
thread, using a bit of black magic. Any time the GC is run (which you don't
have control over), that weak list can be/is emptied. There are no
destructors called, and finalizers aren't guaranteed to be called anyways.
Have a look at the implementation, that might make things clearer.

That's why the doc stresses that sync.Poo

[2017-02-22 09:23] bmatsuo commented on #104
My understanding is that finalizers aren't guaranteed to be called in general because of program termination. When the program terminates no attempt is made to GC, and thus no attempt is made to finalize any outstanding objects. As I stated, readers left open when a program terminates may not be ideal but they are not too harmful overall because Env.ReaderCheck handles them when the application st

[2017-02-22 10:36] lmb commented on #104
You're right, I had misunderstood the notes on SetFinalizer, sorry!

The poolCleanup function does. It's a hack basically.

With that said, I still wouldn't use sync.Pool. Why do you want to tie the lifetime of the reserved transactions to the GC cycle?

[2017-02-22 14:35] bmatsuo opened #116 "lmdbpool: Do not use sync.Pool"
A proper free list of Txns should probably not use sync.Pool for its underlying storage. It can work for some applications, which I have tried to clearly explain in the documentation. But some of sync.Pool's behaviors are not conducive to effectively managing a Txn free list. For example, there is no guarantee that a single goroutine can flush all cached objects from a sync.Pool.

This issue is me

[2017-02-22 14:36] bmatsuo commented on #104
This is valid question. I have not implemented a custom free list because can be tricky to determine how many items to hold onto before additional items would be thrown away (aborted in the case of Txns).

For an lmdb.Env the maximum size of the pool is the value of MaxReaders (126 by default), which must be configured before Env.Open is called. So does it make sense that the free list be allowed

[2017-02-23 14:42] simonklee opened #117 "example_worker doesn't call runtime.UnlockOSThread()"
Typo in the example:

https://github.com/bmatsuo/lmdb-go/blob/875621ad9ed0c5859698adc5ec618dd3fd3c2ecc/lmdb/example_test.go#L149

[2017-02-24 11:44] lmb commented on #116
I would probably just use a buffered channel. You won't be able to implement faster acquire / release, and draining the pool is relatively straightforward. Users will have to specify a limit for the pool, but I think that is good. As you have pointed out, you can get into a situation where a Copy() call fails / blocks forever since all slots are taken. Therefore the right size for the free list de

[2017-08-23 05:39] deepakjois opened #118 "Spending upto 50% of the time in lmdb(*.Txn).bytes while benchmarking Txn.Get"
I am benchmarking lmdb-go, BoltDB and [Badger](https://github.com/dgraph-io/badger), using Go benchmarking tools.

In the setup that I have, BoltDB seems to be outperforming lmdb-go by at least an order of magnitude for doing random reads from the key value store. This is a bit surprising and I am trying to investigate why that is the case.

I did some CPU profiling and I noticed this:

[code]

th

[2017-08-23 05:42] deepakjois commented on #118
@hyc Maybe you have some insights regarding this?

[2017-08-23 07:18] deepakjois commented on #118
Here is a visualization from another cpu trace, for clarity.

![pprof](https://user-images.githubusercontent.com/5342/29603306-4a7f544c-8801-11e7-9d17-2d29581232b3.png)

[2017-08-23 19:51] hyc commented on #118
Sorry, no idea. Go is not my specialty, and I don't know what's going on inside lmdb-go.

[2017-08-24 07:54] ghost opened #119 "mdb_txn_renew: MDB_BAD_RSLOT: Invalid reuse of reader locktable slot"
I have a map  and struct db defined like below:
[code]

When I need to open or close a new db, I create it in a write txn with a global env named **globalEnv**
the code like below:

[code]

I search map and scanner db in globalEnv.Update like below:

[code]

I have two goroutine to call above codes, after run sometime (**most of the time, it works ok**), I get error:

**go version**: 1.7.3 and abo

[2017-08-24 07:57] ghost commented on #119
I print in mdb.c's **mdb_txn_renew0** get

[2017-08-25 09:54] ghost commented on #119
@bmatsuo Execute me, is there a good way to debug this? I have totally no idea.

[2017-08-25 22:33] xlab commented on #118
@deepakjois Hi, thanks for the report and this good bench suite for all three KV stores, I find it very useful!

I just finished evaluating the benchmarks and things are looking to be very normal and familiar from my experience with BoltDB and LMDB. For my experiments I used an Amazon EC2 instance of type `m4.4xlarge` (16 vCPU, 64 GB RAM) and provisioned IO SSD disk of 2TB capacity (20,000 IOPS gu

[2017-08-25 22:47] xlab commented on #118
@deepakjois

**Secondly,** both LMDB and BoltDB are highly dependent on the OS disk cache, i.e. after the file was populated it almost entirely sits in the RAM just in case, also if it was completely read, it will still sit in the RAM. The difference you're getting in benchmarks is coming from the fact that some data got into RAM already and is being read from there. And another effect is that whe

[2017-08-25 23:39] xlab commented on #118
@deepakjois

**I. State with no caches preset**

To get into this state you must run:
[code]

Let's run the benchmarks again, but don't forget to use `-benchtime 5s` to avoid fluctuations. By looking at your benchmarking code it seems that reads are not guaranteed to be unique, so fluctuations may happen if some keys are getting read twice or more. But most reads should hit the SSD directly.

**a)

[2017-08-26 00:06] xlab commented on #118
**Meanwhile,** Badger cold-starts with `46937 ns/op` but doesn't fit in RAM as nicely as these two, thus after warmup round it still takes `12616 ns/op` to read values o__O

[2017-08-26 00:08] xlab commented on #118
Meanwhile, Badger cold-starts with `46937 ns/op` on the same dataset, but it takes much more time to get cached properly, after warmup the reads were taking `12616 ns/op` so I had to do a second warmup, after that I achieved no less than `863 ns/op`.

[2017-08-26 00:21] hyc commented on #118
@xlab thanks for taking the time to illustrate what's going on so extensively. Your results match what I've seen here. Under equal conditions nothing else gets anywhere close to LMDB's read performance.

[2017-08-28 02:44] deepakjois commented on #118
@xlab Thanks for your comments regarding the bechmarking suite, and also for taking the time to run the benchmarks. I really appreciate it.

I just want to clarify that my intention wasn’t to challenge any claims about LMDB’s performance. In fact I was a bit surprised at the results I got, and I was looking for any possible errors in my setup which might be causing that. We are still in the middle

[2017-08-28 08:11] #119 closed, assigned to nobody

[2017-08-28 19:10] hyc commented on #118
Oh, when your data set is larger than RAM you need to use NoReadahead on the environment. By default the kernel pages in 16 pages on every 1-page access, and when the data set is so large, the extra 15 pages usually means some other useful data gets evicted from FS cache.

[2017-08-28 20:19] hyc commented on #118
Hm, with txn.RawRead = true and with lmdb.NoReadahead set, I got these results:
[code]
2M keys of 16000 bytes each, so 32GB on a machine with 16GB RAM. Note that LMDB currently has a 16byte page header that occupies data space, so if you use a valuesize of 16384 it will actually take 5 4096byte pages not 4. In LMDB 1.0 we'll be removing the page header from overflow pages.

[2017-08-29 01:42] deepakjois commented on #118
Thank you @hyc. Setting `lmdb.NoReadahead` does make a huge a difference.

[code]

Once again, thanks for taking the time to dig into this.

[2017-08-29 05:45] deepakjois commented on #118
I will close this issue now, because my core concern is resolved.

But before that I just wanted to point out that setting the `lmdb.NoReadahead` flag slows down iteration under the same setup:

w/ `lmdb.NoReadahead` set:
[code]

without `lmdb.NoReadahead`:

[code]

So, in order to achieve the best possible results for LMDB in all cases, I tweaked the benchmark code to conditionally set the flag b

[2017-08-29 05:46] #118 closed, assigned to nobody

[2017-08-29 06:21] manishrjain commented on #118
Don't think that's the right approach. In a real world system, once you open a KV store with some settings, that's it. All the lookups and iterations happen for the same settings, typically concurrently.

[2017-08-29 06:45] xlab commented on #118
@manishrjain
I guess it's under the same Noreadahead settings for LMDB all benchmarks now. N.B. It should be possible to know beforehand if the data set is larger than RAM

[2018-01-16 14:16] GeoffreyPlouviez opened #121 "Is lmdb-go still active?"
Hello,
Is the project still active and maintained please?
Thank you very much!

[2018-02-03 03:04] itsmontoya commented on #121
This repo hasn't had an update in a year. The other popular LMDB repo is also quite dead. I think your best bet is to run something built in go (like boltdb)

[2018-02-03 10:54] xlab commented on #121
What could be considered as maintenance in a project that works perfectly? C source is not updated quite often, it's stable. Also, people who choose LMDB can't just stick with BoltDB :)

[2018-02-11 06:30] prataprc opened #122 "Full table scan does not seem to have latest set of write operations."
Firstly, thanks for the awesome lmdb storage engine.

I am trying to use lmdb as the reference algorithm for some
of the experiments that I am doing. One of them involve an
left-leaning-red-black (LLRB) tree implementation.

This particular issue keep coming up with dbtest/ program where
it does randomized testing of LLRB API, using LMDB as reference.
It is easy to reproduce:

[code]

`llrb.sh` in

[2018-02-15 12:29] prataprc commented on #122
There was a mistake in the test code. Closing this issue.

[2018-02-15 12:29] #122 closed, assigned to nobody

[2018-09-25 19:23] ptomasroos commented on #121
Using it over here ver successfully!

[2018-11-10 15:52] arthurkiller opened #124 "dude, fix your markdown"
add blank before #

[2018-11-23 18:11] yerden opened #126 "build warning on gcc 7.3.0"
Hi, I have ubuntu bionic, gcc 7.3.0-16ubuntu3. I have implicit fallthrough warning:
[code]
That could be worked around with some gcc-specific attributes but I think it's worth disabling this warning altogether.

[2019-06-13 05:05] LasTshaMAN commented on #124
This is adressed by https://github.com/bmatsuo/lmdb-go/pull/128, whoever has a write access, please merge it!

[2019-07-31 13:59] justinrixx commented on #117
i noticed this as well. i'm assuming this is a mistake, if it's not i would like to know why.

[2020-02-06 17:59] kevburnsjr commented on #126
This was fixed upstream.
Probably better to copy in the updated lib rather than altering the source.

[2020-02-08 01:06] kevburnsjr opened #131 "Assertion 'rc == 0' failed in mdb_page_dirty()"
There is a bug in this version of `mdb_cur_del` that is causing my program to crash when using cursor delete with the dupsort flag. This bug has been fixed in the upstream lmdb repo.

https://www.openldap.org/lists/openldap-bugs/201707/msg00033.html
https://github.com/LMDB/lmdb/commit/47ca2f7095f2aa6e395b7a5cfec46bce35a5d623

Upgrading mdb.c/mdb.h fixes this issue.

@bmatsuo Will you be around to

[2020-02-22 07:26] yerden commented on #126
No luck merging this anyway for quite a long time now. Let's hope the maintainer will return and make the choice. :)

[2020-03-04 16:42] whitehse commented on #126
I also ran into this issue on Debian. I did the following to get a successful build:

[code]

@kevburnsjr I appreciate your patches

[2020-04-24 12:44] #117 closed, assigned to nobody

[2020-08-08 03:24] altair21 opened #134 "lmdb use UTF-16, but this repo reading value use UTF-8"

[2020-09-09 11:31] #134 closed, assigned to nobody

[2020-11-09 14:34] elliotmtx commented on #126
Hi I am facing this issue now, same issue is not observed any of my colleagues, not sure why.
Any one can please help me.

DEBUG: Executing shell function do_compile_ptest_base
# github.com/mendersoftware/mender/vendor/github.com/bmatsuo/lmdb-go/lmdb
mdb.c: In function 'mdb_cursor_put':
mdb.c:6535:9: warning: this statement may fall through [-Wimplicit-fallthrough=]
      if (SIZELEFT(fp) < offset

[2020-11-09 14:48] elliotmtx opened #135 "Mender warning in compilation and build stops with error"
I am facing below warning and build stops, kindly check and help.
On same machine my colleagues able to build without any errors,

DEBUG: Executing shell function do_compile_ptest_base
# github.com/mendersoftware/mender/vendor/github.com/bmatsuo/lmdb-go/lmdb
mdb.c: In function 'mdb_cursor_put':
mdb.c:6535:9: warning: this statement may fall through [-Wimplicit-fallthrough=]
      if (SIZELEFT(fp)

[2021-04-19 13:23] wojas opened #140 "Cursor.Put writes "\x00" instead of an empty value"
Cursor.Put writes "\x00" when you try to write an empty value. The corresponding txn.Put does do the right thing and it has a test for this situation.

PR with coming up.

[2022-01-05 22:19] msackman opened #142 "Confusion over this code"
https://github.com/bmatsuo/lmdb-go/blob/a14b5a390eff52e52a20eceb3020038b3d291432/lmdb/cursor.go#L165

I know it's been a while since you worked on this code. I'm working on my own, slightly different, Go binding to LMDB. Your library is very thorough, and I have gained from your approach with your bridging C to avoid unnecessary copies of keys and values when sending to C.

But the referenced code

[2022-01-06 11:32] msackman commented on #142
I think this must be due to the requirement that:

https://pkg.go.dev/cmd/cgo#hdr-Passing_pointers

[2022-01-06 11:32] #142 closed, assigned to nobody

[2022-04-13 15:42] andhe opened #143 "Fails to build with go 1.18"
`lmdb-go` fails to build when using go 1.18:

[code]
First reported at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1008395